.report-btn .openSearch{height:35px}@media only screen and (min-device-width:768px) and (max-device-width:1024px){.compound-content{width:100%;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-bottom:30px}.compound-content .compound-items{width:48.5%}}